footer {
    display: flex;
    justify-content: center;
    height: 15rem;
    background-color: #e3e4e0;
}

.text-port {
    width: 950px;
    margin-top: 3rem;
    display: flex;
    gap: 10rem;
}

.terms {
    display: flex;
    gap: 2rem;
}

.term {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & a:hover {
        color: #2E8B57;
        text-decoration: underline;
    }
}

.copyright a {
    color: #2E8B57;
    text-decoration: underline;
}