nav {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 150px;
}

.brand {
    font-size: 2.4rem;
}

.nav-links {
    display: flex;
    gap: 1rem;
}